{
  "root": true,
  "env": {
    "node": true,
    "es2021": true,
    "browser": true
  },
  "plugins": [
    "pug"
  ],
  "extends": [
    "airbnb-base",
    "plugin:jamrock/config"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules" : {
    "max-len": ["error", {
      "code": 150
    }]
  }
}
