{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": "latest",
    "extraFileExtensions": [".html"]
  },
  "env": {
    "node": true,
    "es2021": true,
    "browser": true
  },
  "globals": {
    "os": "readonly",
    "tjs": "readonly",
    "crypto": "readonly"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "plugin:jamrock/config"
  ],
  "rules" : {
    "no-continue": 0,
    "no-return-assign": 0,
    "no-promise-executor-return": 0,
    "lines-between-class-members": 0,
    "no-setter-return": 0,
    "max-len": ["error", {
      "code": 150
    }]
  }
}
