.git
.env
*.rdb
*.todo
.DS_Store
codecov.sh
db.sqlite
.nyc_output
cache.json
index.toml
templates.json
node_modules
src/chalk.mjs
generated
coverage
build
logs
dist
tmp
*.d.ts
pb_data
deno.lock
package-lock.json
!scripts/main.d.ts
!tests/fixtures/node_modules
