.check,.body > *{display:none;}
.head{list-style-type:none;display:flex;padding:0;margin:0;}
.head label{display:block;padding:5px;}
.tabs{display:flex;flex-direction:column-reverse;}
.check:nth-child(1):checked ~ .head > *:nth-child(1){background-color:#fff;}
.check:nth-child(1):checked ~ .body > *:nth-child(1){display:block;}
.check:nth-child(2):checked ~ .head > *:nth-child(2){background-color:#fff;}
.check:nth-child(2):checked ~ .body > *:nth-child(2){display:block;}
.check:nth-child(3):checked ~ .head > *:nth-child(3){background-color:#fff;}
.check:nth-child(3):checked ~ .body > *:nth-child(3){display:block;}
.check:nth-child(4):checked ~ .head > *:nth-child(4){background-color:#fff;}
.check:nth-child(4):checked ~ .body > *:nth-child(4){display:block;}
.check:nth-child(5):checked ~ .head > *:nth-child(5){background-color:#fff;}
.check:nth-child(5):checked ~ .body > *:nth-child(5){display:block;}
.check:nth-child(6):checked ~ .head > *:nth-child(6){background-color:#fff;}
.check:nth-child(6):checked ~ .body > *:nth-child(6){display:block;}
.check:nth-child(7):checked ~ .head > *:nth-child(7){background-color:#fff;}
.check:nth-child(7):checked ~ .body > *:nth-child(7){display:block;}
.check:nth-child(8):checked ~ .head > *:nth-child(8){background-color:#fff;}
.check:nth-child(8):checked ~ .body > *:nth-child(8){display:block;}
.check:nth-child(9):checked ~ .head > *:nth-child(9){background-color:#fff;}
.check:nth-child(9):checked ~ .body > *:nth-child(9){display:block;}
.check:nth-child(10):checked ~ .head > *:nth-child(10){background-color:#fff;}
.check:nth-child(10):checked ~ .body > *:nth-child(10){display:block;}