<script>
  const messages = [];

  let fromError;
  export { fromError as from };
  export let caption;
  export let debug;

  if (Array.isArray(fromError)) {
    messages.push(...fromError.map(x => x.message));
  }

  if (fromError instanceof Error) {
    debug = debug || fromError.sample;
    caption = caption || fromError.message;
    if (Array.isArray(fromError.errors)) {
      messages.push(...fromError.errors.map(x => x.message));
    }
  }

  const enabled = messages.length || fromError || false;
  const prefix = $$props['data-test-id'] ? `${$$props['data-test-id']}.` : '';
</script>

<style scoped>
  h3, li {
    color: red;
  }
</style>

{#if enabled}
  <slot name="before" />
  {#if caption}
    <h3 test:id="{prefix}failure" use:self>{caption}</h3>
  {/if}
  {#if debug}
    <pre use:self>{debug}</pre>
  {/if}
  {#if messages.length}
    <ul test:id="{prefix}failure.errors" use:self>
      {#each messages as msg}
        <li>{@html msg}</li>
      {/each}
    </ul>
  {/if}
  <slot name="after" />
{/if}
