<script>
  import { req, query_string } from 'jamrock/conn';

  export let to = null;
  export let exact = null;

  let cssClass = null;
  export { cssClass as class };

  let active = null;
  let path = null;

  const query = query_string
    ? `?${query_string}`
    : '';

  path = to.replace(/\/$/, '') || '/';
  active = exact
    ? path === req.originalUrl
    : req.originalUrl.indexOf(path) === 0;
  cssClass = `${cssClass || ''}${active ? ' active' : ''}`.trim() || null;
</script>

<style>
  .active { font-weight: bold; }
</style>

<a class="{cssClass}" href="{path}{query}" use:self>
  <slot></slot>
</a>
