<script>
  import ctx from 'jamrock/conn';

  import { colors, relative } from 'jamrock/utils';

  import Tabs from './tabs';

  export const failure = null;

  const status = failure ? failure.status : ctx.status_code;

  const request = {
    uuid: ctx.req.uuid,
    csrf: ctx.csrf_token,
    path: ctx.request_path,
    query: ctx.query_params,
    method: ctx.method,
    params: ctx.path_params,
  };

  function debug(stack) {
    return colors(stack.trim()).replace(/[\w./]+:\d+:\d+/g, src => {
      if (!src.includes(ctx.cwd)) return relative(src);
      return `<span data-location=${relative(src)}>${relative(src)}</span>`;
    });
  }
</script>

<style scoped lang="less">
  details {
    background-color: #E5E7EA;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  summary {
    background-color: #EF4444;
    padding: 5px;
    color: #FFF;
    cursor: default;
  }
  pre {
    padding: 5px;
    line-height: 1;
    background-color: #f5f9ee;
    max-height: 30em;
    overflow: auto;
  }
  pre :global([data-location]) {
    text-decoration: underline;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
</style>

<details open use:self>
  <summary>Error {status}</summary>

  {#if failure}
    <pre @html="{debug(failure.sample || failure.stack)}" />
  {/if}

  <Tabs set="request|headers|routes|env" checked="{status === 404 ? 2 : 0}">
    <component src="./client/inspect" data={request} title="Request input" />
    <component src="./client/inspect" data={ctx.req_headers} title="Request headers" />
    <component src="./client/inspect" data={ctx.routes} title="Available routes" fields="verb|path|name|kind" main="verb" />
    <component src="./client/inspect" data={ctx.env} title="Environment variables" />
  </Tabs>
</details>
