<script context="client">
  import { useState, useEffect } from 'jamrock';

  export const messages = [];

  const [msgs, setMsgs] = useState(messages);

  function close(offset) {
    setMsgs(msgs.filter((_, i) => i !== offset));
  }

  function pop() {
    if (!msgs.length) return;
    msgs.pop();
    setMsgs(msgs);
  }

  useEffect(() => {
    const t = setInterval(pop, 5000);
    return () => clearInterval(t);
  }, []);
</script>

{#each msgs as msg, i}
  <p class={msg.type}>{msg.value} <button onclick="{() => close(i)}">&times;</button></p>
{/each}
