<script context="client">
  import { useState, useEffect } from 'jamrock';

  export const names = [];
  export const prefix = 'check-';
  export const checked = 0;

  // FIXME: focus vs selection?
  const [focused, setFocus] = useState(null);
  const [selected, setTab] = useState(checked);

  function selectTab() {
    requestAnimationFrame(() => self.querySelector('[aria-selected=true] label').click());
  }
  function prevTab() {
    if (selected > 0) setTab(selected - 1);
  }
  function nextTab() {
    if (selected < names.length - 1) setTab(selected + 1);
  }
  function updateTab() {
    requestAnimationFrame(() => {
      const tabs = self.querySelectorAll('[role=tab]');
      const tab = self.querySelector('[role=tab]:focus');

      if (!tab) return;

      let offset = 0;
      for (let i = 0; i < tabs.length; i++) {
        if (tabs[i] === tab) break;
        offset++;
      }
      setTab(offset);
    });
  }

  let skip;
  function skipTabs(shift) {
    skip = true;
    setFocus(true);
    setTimeout(() => { skip = false; }, 60);

    const tabs = self.querySelectorAll('[role=tab]');

    if (shift) {
      tabs[0].focus();
    } else {
      tabs[tabs.length - 1].focus();
    }
  }
  function focusTabs() {
    if (skip || focused === null) return;
    setFocus(null);
    updateTab();
  }

  useEffect(() => {
    setTimeout(() => self.querySelector('[aria-selected=true]').focus(), 60);
  }, [selected]);

  export default {
    prevTab,
    nextTab,
    updateTab,
    selectTab,
    skipTabs,
    focusTabs,
  };
</script>

<style>
  li {
    transition: background-color .2s;
  }
  li[aria-selected] {
    font-weight: bold;
    background-color: rgba(0, 0, 0, .1);
  }
</style>

{#each names as tab, i}
<li aria-selected="{selected === i ? 'true' : null}" role="tab" tabindex="0">
  <label for="{prefix}{i}" on:click="{() => setTab(i)}">{tab}</label>
</li>
{/each}
