<script context="client">
  import { signal, effect } from 'jamrock';

  export const names = [];
  export const prefix = 'check-';
  export const checked = 0;

  const focused = signal(null);
  const selected = signal(checked);

  function selectTab() {
    requestAnimationFrame(() => self.querySelector('[aria-selected=true] label').click());
  }
  function prevTab() {
    if (selected.value > 0) selected.value--;
  }
  function nextTab() {
    if (selected.value < names.length - 1) selected.value++;
  }
  function updateTab() {
    requestAnimationFrame(() => {
      const tabs = self.querySelectorAll('[role=tab]');
      const tab = self.querySelector('[role=tab]:focus');

      if (!tab) return;

      let offset = 0;
      for (let i = 0; i < tabs.length; i++) {
        if (tabs[i] === tab) break;
        offset++;
      }
      selected.value = offset;
    });
  }

  let skip;
  function skipTabs(shift) {
    skip = true;
    focused.value = true;
    setTimeout(() => { skip = false; }, 60);

    const tabs = self.querySelectorAll('[role=tab]');

    if (shift) {
      tabs[0].focus();
    } else {
      tabs[tabs.length - 1].focus();
    }
  }
  function focusTabs() {
    if (skip || focused.value === null) return;
    focused.value = null;
    updateTab();
  }

  effect(() => {
    selected.value;
    setTimeout(() => self.querySelector('[aria-selected=true]').focus(), 60);
  });

  export default {
    prevTab,
    nextTab,
    updateTab,
    selectTab,
    skipTabs,
    focusTabs,
  };
</script>

<style>
  li {
    transition: background-color .2s;
  }
  li[aria-selected] {
    font-weight: bold;
    background-color: rgba(0, 0, 0, .1);
  }
</style>

{#each names as tab, i}
<li aria-selected="{selected.value === i ? 'true' : null}" role="tab" tabindex="0">
  <label for="{prefix}{i}" on:click="{() => selected.value = i}">{tab}</label>
</li>
{/each}
